<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Ubicaciones de Nodos
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <form *ngIf="form"
        [formGroup]="form"
        (ngSubmit)="submit()"
        class="app-container mx-auto min-h-full">
    <ion-item lines="none">
      <span>Cuando te encuentres en la ubicación de un Nodo óptico presiona "Aceptar" para agregar la posicion</span>
    </ion-item>
    <ion-item lines="none">
      <span>Cantidad de posiciones registradas: {{totalPositions}}</span>
    </ion-item>
    <div fxLayout="column"
        fxLayoutGap="1rem">

      <div fxLayout="column"
           fxFlex="1 1 auto">
        <ion-list class="shadow">
          <ion-item>
            <ion-label position="floating">Latitud</ion-label>
            <ion-input formControlName="latitude"
                       autofocus clearInput></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Longitud</ion-label>
            <ion-input formControlName="longitude"
                       autofocus clearInput></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Altitud</ion-label>
            <ion-input formControlName="altitude"
                       autofocus clearInput></ion-input>
          </ion-item>

        </ion-list>
        <span fxFlex></span>

        <div fxLayout="row wrap" class="p-2">
          <div fxFlex="50">
            <ion-button (click)="submit()"
                        shape="round"
                        expand="full">Aceptar</ion-button>
          </div>
          <div fxFlex="50">
            <ion-button (click)="deleteAll()"
                        shape="round"
                        expand="full">Borrar</ion-button>
          </div>
        </div>
      </div>

      <div *ngIf="(positions$ | async) as positions"
           fxLayout="column"
           class="relative bg-white rounded shadow">
      <mat-table [dataSource]="positions">
          <ng-container matColumnDef="latitude">
            <mat-header-cell *matHeaderCellDef>Latitud</mat-header-cell>
            <mat-cell *matCellDef="let position"> {{position.latitude}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="longitude">
            <mat-header-cell *matHeaderCellDef>Longitud</mat-header-cell>
            <mat-cell *matCellDef="let position"> {{position.longitude}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="altitude">
            <mat-header-cell *matHeaderCellDef>Altitud</mat-header-cell>
            <mat-cell *matCellDef="let position"> {{position.altitude}}</mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

        </mat-table>
      </div>


    </div>
  </form>
  <div fxLayoutAlign="center center" id="map_canvas">
  </div>
</ion-content>
